<h4 *ngIf="university.id == null">
  New university
</h4>
<h4 *ngIf="university.id != null">
  Modify university
</h4>
<br/>
<form>
  <div class="form-group row">
    <label for="name" class="col-sm-2 col-form-label">University name</label>
    <div class="col-sm-4">
      <input [(ngModel)]="university.name" type="text" class="form-control" id="name" name="name" title="name">
    </div>
  </div>
  <div class="form-group row">
    <label for="address" class="col-sm-2 col-form-label">Address</label>
    <div class="col-sm-4">
      <input [(ngModel)]="university.address" type="text" class="form-control" id="address" name="address" title="address">
    </div>
  </div>
  <div class="form-group row">
    <label for="popularity" class="col-sm-2 col-form-label">University popularity</label>
    <div class="col-sm-4">
      <input [(ngModel)]="university.popularity" class="form-control" id="popularity" name="popularity" title="popularity">
    </div>
  </div>
</form>

<input type="button" value="Save" class="btn btn-primary"
       (click)="saveUniversity()">
&nbsp;
<input type="button" value="Back" class="btn btn-secondary"
       (click)="backToUniversities()">
<br/>
