<div *ngIf="authService.isUserInRole('ROLE_INSTRUCTOR')">
  <input type="button" value="New subject" class="btn btn-primary btn-sm" (click)="addSubject()">
  <br/>
  <br/>
</div>
<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Code</th>
    <th scope="col">Description</th>
    <th scope="col">Number of students</th>
    <th scope="col">Options</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let subject of subjects">
    <th>{{subject.id}}</th>
    <td>{{subject.name}}</td>
    <td>{{subject.code}}</td>
    <td>{{subject.description}}</td>
    <td>{{subject.personSize}}</td>
    <td>
      <button type="button" class="btn btn-success btn-sm"
              *ngIf="authService.isUserInRole('ROLE_STUDENT')"
              [disabled]="isSubjectConnectedToPerson(subject)"
              (click)="addSubjectToPerson(subject)">
        Add
      </button>
      <button type="button" class="btn btn-success btn-sm"
              *ngIf="authService.isUserInRole('ROLE_INSTRUCTOR')"
              (click)="editSubject(subject.id)">
        Modify
      </button>
      &nbsp;
      <button type="button" class="btn btn-danger btn-sm"
              [disabled]="subject.personSize > 0"
              *ngIf="authService.isUserInRole('ROLE_INSTRUCTOR')"
              (click)="removeSubject(subject.id)">
        Remove
      </button>
    </td>
  </tr>
  </tbody>
</table>
