<h4 *ngIf="subject.id == null">
  New subject
</h4>
<h4 *ngIf="subject.id != null">
  Modify subject
</h4>
<br/>
<form>
  <div class="form-group row">
    <label for="name" class="col-sm-2 col-form-label">Subject name</label>
    <div class="col-sm-4">
      <input [(ngModel)]="subject.name" type="text" class="form-control" id="name" name="name" title="name">
    </div>
  </div>
  <div class="form-group row">
    <label for="code" class="col-sm-2 col-form-label">Code</label>
    <div class="col-sm-4">
      <input [(ngModel)]="subject.code" type="text" class="form-control" id="code" name="code" title="code">
    </div>
  </div>
  <div class="form-group row">
    <label for="description" class="col-sm-2 col-form-label">Subject description</label>
    <div class="col-sm-4">
      <textarea [(ngModel)]="subject.description" class="form-control" id="description" name="description"
                title="description">
      </textarea>
    </div>
  </div>
</form>

<input type="button" value="Save" class="btn btn-primary"
       (click)="saveSubject()">
&nbsp;
<input type="button" value="Back" class="btn btn-secondary"
       (click)="backToSubjects()">
<br/>
<br/>
<h5>Students:</h5>
<ul class="list-group">
  <li class="list-group-item" *ngFor="let person of persons">
    {{person.name}}
  </li>
</ul>
