<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">NEPTUN</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li routerLinkActive="active" class="nav-item">
        <a [routerLink]="['/home']" class="nav-link" *ngIf="authService.isUserLoggedIn()">Home</a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a [routerLink]="['/persons']" class="nav-link" *ngIf="authService.isUserLoggedIn()">Persons</a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a [routerLink]="['/subjects']" class="nav-link" *ngIf="authService.isUserLoggedIn()">Subjects</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li routerLinkActive="active" class="nav-item">
        <a [routerLink]="['/login']" class="nav-link" *ngIf="!authService.isUserLoggedIn()">
          Login
        </a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a class="nav-link" href="#"
           (click)="logout()"
           *ngIf="authService.isUserLoggedIn()">
          Logout
        </a>
      </li>
    </ul>
  </div>
</nav>
